{{outlet}}

{{#with model as user}}
<h3>{{user.first_name}} {{user.last_name}}</h3>
<p>Email: {{user.email}}</p>
<p>Last login: {{user.lastLogin}}</p>
<p>Created: {{user.created}}</p>
<p>Active: {{user.isActive}}</p>
<p>Default Context: {{user.defaultContext.role.name}}</p>
{{/with}}
