{{outlet}}

{{#with model as engagement}}
<h3>Engagement for {{model.name}}</h3>

<p>There are {{model.participantCount}} participants in this Engagement</p>
<p>Duration: {{duration}}</p>

<p>Coach: {{#if model.coach}}
          {{#link-to 'users.user' model.coach.username}}
            {{model.coach.fullName}}{{/link-to}}
          {{else}}
            n/a
          {{/if}}
</p>
<p>Coachee: {{#if model.coachee}}
            {{#link-to 'users.user' model.coachee.username}}
              {{model.coachee.fullName}}{{/link-to}}
            {{else}}
              n/a
            {{/if}}
</p>
<p>Manager: {{#if model.manager}}
            {{#link-to 'users.user' model.manager.username}}
              {{model.manager.fullName}}{{/link-to}}
            {{else}}
              n/a
            {{/if}}
</p>
{{#each item in model.participations }}
<ul>
  <li>User: {{#link-to 'users.user' item.user.username}}
    {{item.user.fullName}}{{/link-to}}
  </li>
  <li>Role: {{item.role.name}}</li>
</ul>
{{/each}}
{{/with}}
