{{outlet}}

{{#with model as engagement}}
<h3>Engagement for {{model.name}}</h3>

<h4>Info</h4>
<table class="table">
  <thead>
    <tr>
      <th>Coach</th>
      <th>Coachee</th>
      <th>Managers</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Duration (seconds)</th>
      <th>Program</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{#if model.coach}}
        {{#link-to 'users.user' model.coach.username}}
          {{model.coach.fullName}}{{/link-to}}
        {{else}}
          n/a
        {{/if}}
      </td>
      <td>
        {{#if model.coachee}}
        {{#link-to 'users.user' model.coachee.username}}
          {{model.coachee.fullName}}{{/link-to}}
        {{else}}
          n/a
        {{/if}}
      </td>
      <td>
        {{#if model.managers}}
        {{#each manager in model.managers}}
        <p>
        {{#link-to 'users.user' manager.username}}
          {{manager.fullName}}
        {{/link-to}}
        </p>
        {{/each}}
        {{else}}
          n/a
        {{/if}}
      </td>
      <td>{{model.startDate}}</td>
      <td>{{model.endDate}}</td>
      <td>{{model.duration}}</td>
      <td>{{#if model.program }}{{model.program.name}}{{else}}n/a{{/if}}</td>
    </tr>
  </tbody>
</table>

<h4>Roadmap</h4>
<p>Description: {{model.roadmap.description}}</p>
<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Estimated Start</th>
      <th>Estimated Finish</th>
      <th>Order</th>
    </tr>
  </thead>
  <tbody>
    {{#each item in model.roadmap.items}}
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.estimatedStart}}</td>
      <td>{{item.estimatedFinish}}</td>
      <td>{{item.order}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h4>Participants ({{model.participantCount}})</h4>
<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th>Invited By</th>
    </tr>
  </thead>
  <tbody>
    {{#each item in model.participations}}
    <tr>
      <td>{{#link-to 'users.user' item.user.username}}{{item.user.fullName}}{{/link-to}}</td>
      <td>{{item.role.name}}</td>
      <td>{{#if item.invitedBy.fullName }}{{item.invitedBy.fullName}}{{else}}n/a{{/if}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/with}}

<h4>Competencies ({{model.competencyCount}} competencies in {{model.competencyLibraryCount}} libraries)</h4>
<table class="table">
  <thead>
    <tr>
      <th>Competency</th>
      <th>Description</th>
      <th>Behavioral Indicators</th>
      <th>Library Name</th>
      <th>Grouping</th>
    </tr>
  </thead>
  <tbody>
    {{#each library in model.competencyLibraries}}
    {{#each competency in library.competencies}}
    <tr>
      <td>{{competency.name}}</td>
      <td>{{competency.description}}</td>
      <td>
        <ul class="list-unstyled competencies">
          {{#each indicator in competency.indicators}}
          <li><span {{bind-attr class=":glyphicon :symbol indicator.symbol"}}"></span> {{indicator.description}}</td>
          {{/each}}
        </ul>
      </td>
      <td>{{library.name}}</td>
      <td>{{library.grouping.name}}</td>
    </tr>
    {{/each}}
    {{/each}}
  </tbody>
</table>
