{{outlet}}

{{#with model as engagement}}
<h3>Engagement for {{model.name}}</h3>

<p>Coach: {{#if model.coach}}
            {{#link-to 'users.user' model.coach.username}}
              {{model.coach.fullName}}{{/link-to}}
            {{else}}
              n/a
            {{/if}}
</p>
<p>Coachee: {{#if model.coachee}}
            {{#link-to 'users.user' model.coachee.username}}
              {{model.coachee.fullName}}{{/link-to}}
            {{else}}
              n/a
            {{/if}}
</p>

<p>There are {{model.participantCount}} participants in this Engagement</p>
<br>

  {{#each item in model.participations }}
  <ul>
    <li>User: {{item.user.email}}</li>
    <li>Role: {{item.role.name}}</li>
  </ul>
  {{/each}}
{{/with}}
