<h2 id='title'>cl-frontend</h2>

{{#link-to 'index'}}Home{{/link-to}}

{{#if session.isAuthenticated}}
  {{#link-to 'organizations'}}Organizations{{/link-to}}
  {{#link-to 'users'}}People{{/link-to}}
  {{#link-to 'users.user' session.user.username}}Profile{{/link-to}}
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  {{#link-to 'signup'}}Signup{{/link-to}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}
<br>
<h4>Welcome {{session.user.firstName}} {{session.user.lastName}}</h4>
{{#if session.isAuthenticated }}
<h5>Active Context: {{session.context.role.name}}</h5>
<p>Change context:
  {{view "select"
         content=model.contexts
         optionValuePath="content.id"
         optionLabelPath="content.role.name"
         selectionBinding="selectedContext"}}
</p>
{{/if}}
{{outlet}}
