<h2 id='title'>cl-frontend</h2>

{{#link-to 'index'}}Home{{/link-to}}

{{#if session.isAuthenticated}}
  {{#link-to 'organizations'}}Organizations{{/link-to}}
  {{#link-to 'users'}}People{{/link-to}}
  {{#link-to 'users.user' session.user.username}}Profile{{/link-to}}
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  {{#link-to 'signup'}}Signup{{/link-to}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}
<br>
<h4 style="margin-bottom:15px;">Welcome {{session.user.firstName}} {{session.user.lastName}}</h4>
{{#if session.isAuthenticated }}
<p style="font-size: 14px;text-indent: 2px;margin: 0 0 20px;">Active Context:
  {{view "select"
         prompt="Select Context"
         content=model.contexts
         optionValuePath="content.id"
         optionLabelPath="content.name"
         selectionBinding="selectedContext"
         value="prompt"}}
</p>
<hr>
{{/if}}
{{outlet}}
