<h3>Signup</h3>

<form {{action 'registerUser' on='submit'}}>
  <label for="email">Email</label>
  {{input value=email id='email' placeholder='Enter Email'}}
  <label for="first-name">First Name</label>
  {{input value=firstName id='first-name' placeholder='First Name'}}
  <label for="last-name">Last Name</label>
  {{input value=lastName id='last-name' placeholder='Last Name'}}
  <label for="password">Password</label>
  {{input value=password id='password' placeholder='Enter Password' type='password'}}
  <button type="submit">Register</button>
</form>
